*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');

.body{
    background:#eee;
    
}
#menu_control{
    position: fixed;
    top: 0;
}
 .menu_btn{
     padding-top: 18px;
     display: none;
}


@media screen and (max-width:980px) {
    .body{ 
        width: 980px;
    }
    .menu_btn{
        display: block;
        position: absolute;
        right: 5vw;
        top:1vw;
    } 

    .menu_btn:hover{
        color: #f11111;
    }
    
    .header-right{
        display: flex;
        position: fixed;
        top:80px;
        right: 0;
        right: -100%;
        width: 250px;
        height: 100vh; 
        background: white;
        transition: .5s;
        z-index: 3;
        /* visibility: hidden; */
    }
    .header-right >a{
        display: block; 
        width: 240px;
        padding: 15px 0px;
        background: white;
        text-align: left;  
    }

    .sub-header-right{
        padding: 10px 10px 0px 0px;
        /* border: 1px solid red; */
        width: 100%;
        box-sizing:border-box ;
    
    }


    .sub-header-right>a{
        /* border:1px solid red ; */
        text-align: left; 
    }

    #menu_control:checked ~ .header-bars .header-right{
        right: 0;
      }

    #menu_control:checked ~ .full-screen{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 60px;
        background: gray;
        opacity: 0.5;
        z-index: 2;  
        transition: .5s;
      }

      #a{
        width: 150px ;
      }
}


/* header */
.header-bars{
    width: 100%;
    /* background: #f11111; */
    position: fixed;
    z-index: 4;
    top: 0;
}

#google_translate_element {
    display: none;
    position: relative;
    width: 100%;
    /* height: 40px; */
    align-items: center; /* 垂直居中對齊 */
    background: rgb(245, 245, 245);
    top: 0;
    /* z-index: 4; */
    padding: 10px;
    
}
#google_translate_element>button{
    position: absolute;
    right: 5vw;
    bottom: 3vh;
    border: none;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    background: none;
    color:rgb(70, 70, 70);
    font-size: 14px;
    cursor: pointer;
}



.header{
    display: flex;
    /* top: 0; */
    background-color:white;
    /* position: fixed; */
    width: 100%;
    height: 80px;
    /* border: 1px red solid; */
    /* z-index: 4; */
    box-shadow: 3px 7px 10px 2px #7070704a;    
}


.logo{ 
    margin: 1.1vh 0px 0vh 3vw;
}
.logo img{
    width: 150px;
}
nav{
    width: 100%;
    text-align: right;
}

.header-right{
    display: inline-block; 
    padding: 2vh 3vw 2vh 0px;
    background: white;
    /* border: 1px solid red; */
}
.header-right>a{
    display: inline-block;
    padding-bottom: 28px;
    margin-left: 10px;
    text-decoration: none;
    color:rgb(70, 70, 70);  
    font-size: 14.5px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.2s;
}
.header-right>a:hover{
    border-bottom: 3px solid rgb(241, 63, 63); 
    background-clip: padding-box;
    color: #f11111;
}

.sub-header-right{
    margin-top: 10px;
    margin-left: 10px;
    /* width: 100%; */
    /* border: 1px solid red; */
    display: inline-block; 
}
.sub-header-right>a{
    margin-left: 10px;
}
.sub-header-right>a i{
    color:rgb(70, 70, 70); 
    padding: 7px 10px;
    border-radius: 50px;
    font-size: 20px;
    background: rgb(243, 243, 243);

}
.sub-header-right>a i:hover{
    background-color: rgb(235, 235, 235);
}


/* google 翻譯的蓋屏 */
.cover-screen{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}


.cover-screen .language{
    width: 90%;
    height: 300px;
    max-width: 500px;
    max-height: 80%;
    background: #fff;
    padding: 20px;
    /* position: fixed; */
    border-radius: 30px;


}
.cover-screen h4{
    font-size: 18px;
    /* border: 1px solid red; */
    padding: 20px;
    text-align: center;
}
.cover-screen p{
    padding: 20px; 
    font-size: 15px;
}

.language button{
    border: none;
    width: 210px;
    height: 45px;
    margin: 10px 0px 0px 25px;
    border-radius: 10px;
    background: rgb(241, 63, 63);
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.language button:nth-of-type(1){
    background: white;
    color: rgb(241, 63, 63);
    border: 2px solid rgb(241, 63, 63);
}
.language button:nth-of-type(1):hover{
    background: rgb(245, 245, 245);
}
.language button:nth-of-type(2):hover{
    background: #f11111;
    
}

.cover-screen .language .btn-close{
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    /*line-height 的設定讓文字置中了*/
    text-align: center;
    background-color: #aaa;
    color: #fff;
    text-decoration: none;
    top: -20px;
    right: -20px;
    border-radius: 50%;
}





/* -------------------滾動視差------------------ */
.hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
    
    .text{
      position: relative;
    }
      
      iframe{
        width: 100vw;
        height: calc( 78vw /640 *360);
        position: absolute;
        top: 80px;
        left: 0;
      }
    
  }
  
  

  /* -------------------我的完美日常 電影介紹-------------- */

  .section{
    position: relative;
    height: 1400px;
    padding: 0px 5vw;
    /* background: #f11111; */
  }

  .itemA{
    display: flex;
    position: absolute;
    top: -380px;
    left: 10vw;
    transition: all 0.5s;
    box-sizing: border-box;
    

  }

  .background-image-container {
    width: 380px;
    height: 350px;
    background-image: url("https://miro.medium.com/v2/resize:fit:1400/format:webp/1*HIOaGBteMTFhECNEjnqU_A.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    transition: all 0.5s;
    /* filter: drop-shadow(8px 8px 10px gray); */
    box-shadow: 3px 7px 10px 2px #7070704a;  
}


  .wrap{
    width: 100%;
    padding: 100px 2vw;
    box-sizing: content-box;
  }

  .wrap ul{
    margin-top: 40px;
  }

  .wrap li{
    list-style: none;
    padding: 5px 0px;
  }

  span{
    font-size: 15px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 900;
    color: rgb(70, 70, 70);
}


@media (min-width: 600px) and (max-width: 1000px) {
    .itemA img{
        width: 250px;
      }

      .wrap{
        padding: 50px 10vw 0px 3vw;
    }

    .background-image-container {
        width: 400px;
        height: 350px;
        background-image: url("https://miro.medium.com/v2/resize:fit:1400/format:webp/1*HIOaGBteMTFhECNEjnqU_A.jpeg");
        background-size: cover;
        background-position: center;
        border-radius: 30px;
        transition: all 0.5s;
       
    }
}


@media screen and (max-width:600px)  {
    .itemA{
        width: 100%;
        left: 5vw;
    }
    

    .itemA img{
        width: 200px;
        
      }

      .wrap{
        padding: 50px 10vw 0px 3vw;
       
    }

    .wrap h2{
        font-size: 21px;
    }

    .wrap ul{
        margin-top: 20px;
      }

      .wrap li{
        padding: 3px 0px;
      }

      .background-image-container {
        width: 500px;
        height: 330px;
        background-image: url("https://miro.medium.com/v2/resize:fit:1400/format:webp/1*HIOaGBteMTFhECNEjnqU_A.jpeg");
        background-size: cover;
        background-position: center;
        border-radius: 30px;
        transition: all 0.5s;
    }
     
}






/* ----------------------電影時間選單 --------------------*/
.itemB{
    height: 200px;
    /* border: 3px solid  black; */
    margin-top: 350px;
    position: relative;
}

/* Style tab links */
.tablink {
    background: white;
    color: rgb(70, 70, 70);
    float: left;
    border: none;
    /* border-radius: 20px 20px 0px 0px; */
    
    outline: none;
    cursor: pointer;
    padding: 14px 0px;
    width: 12%;
    transition: all .2s;
    
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 500;
    /* letter-spacing: 1px; */

    /* border-bottom:1px solid rgb(241, 63, 63) ; */
    
  }
  
  .tablink:hover {
    color: rgb(241, 63, 63);
  }

  
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: rgb(70, 70, 70);
    display: none;
    box-sizing: border-box;
    padding: 80px 50px;
    width: 100%;
    /* height: 300px; */

    position: absolute;
    top:47px;

  }



  .tabcontent span{
    /* background: rgb(248, 248, 248); */
    padding: 10px 20px;
    margin-right:20px;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 900;
    cursor:pointer ;
    position: relative;

    transition: all .5s;
  }

   /* 你可以改變span的顏色來符合你的需求 */

   .selected {
    border-radius: 50px;
    background: rgb(241, 63, 63);
    color: white;
}


  @media screen and (max-width:600px){

    .itemB{
        margin-top: 350px;
    }

  }

  .itemC{
    width: 100%;
    margin-top: 10px;
    padding: 0px 18vw 0px 2vw;
    /* border: 1px solid red; */
    box-sizing: border-box;
  }

  .itemC button{
    padding: 15px 0px;
    border: none;
    border-radius: 10px;
    width: 100%;

    font-family: "Noto Sans TC", sans-serif;
    font-size: 14.5px;
    font-weight: 900;
    color: rgb(241, 63, 63);


  }

  .visible {
    display: block;
}

.tabcontent {
    display: none;
}

@media screen and (max-width:600px){

    

}



/* --------------------- 票種選擇 -------------------- */
.itemD{
    width: 100%;
    margin-top: 50px;
    padding: 0px 18vw 0px 2vw;
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: none;
   
}

table{
    width: 100%;
    /* border: 2px solid  rgb(255, 148, 148); */
    border-top:none ;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}


th:nth-of-type(1){
    width: 70%;
    
}

th{
    width: 100px;
    padding: 10px;
    /* background: rgb(255, 148, 148);
    border-radius:15px ; */

    font-family: "Noto Sans TC", sans-serif;
    font-weight: 900;
    letter-spacing: 0.2px;
    font-size: 15px;
    color: rgb(70, 70, 70);

}

td:nth-child(1){
    text-align: left;
}

td{
    padding: 10px;
    

    font-family: "Noto Sans TC", sans-serif;
    font-weight: 900;
    letter-spacing: 0.2px;
    font-size: 15px;
    color: rgb(70, 70, 70);
    text-align: center;
}


.itemD button{
    background: none;
    border: none;
    /* margin-top: 30px; */
    padding: 10px;
    color: rgb(241, 63, 63);

    font-family: "Noto Sans TC", sans-serif;
    font-weight: 900;
    letter-spacing: 0.2px;
    font-size: 15px;

    cursor: pointer;

}


/*  ---------------- 頁尾 ------------- */
footer {
    margin-top: 100px;
    padding: 40px 60px;
    background: #D8D8D8;
    text-align: left;
    position: relative;
    bottom: 0px;
    
}

footer a{
    display: block;
    text-decoration: none;
    color: rgb(70, 70, 70);
    height: 5px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 900;
    letter-spacing: 0.2px;
    font-size: 14px;
}

footer pre{
    text-align: right;
    margin-right: 10px;
    color: rgb(70,70,70);
}

.top_btn{
    display: block;
    background: rgb(70,70,70);
    padding: 0px 10px;
    height: 50px;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    line-height:6px; 
    box-shadow: 0px 2px 10px 2px #7070704a;  

    position: absolute;
    top: -20px;
    right: 60px;
}
footer i{
    font-size: 20px;
}